        
        
        input, #submit {
            width: 300px;
            height: 40px;
            border-radius: 15px;
            margin: 10px;
        }

        #submit {
            background-color: rgb(55, 55, 129);
            color: white;
            font-size: 16px;

        }

        #googleIcon {
            width: 20px;
            height: 20px;
            margin-right: 10px;


        }

        #easySubmit {
            width: 300px;
            margin: 10px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            padding: 10px 60px;
            background-color:  rgb(55, 55, 129);
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        p {
            margin-left: 150px;
        }


        #header{
            margin-left: 80px;
        }

        #easySubmit:hover {
            background-color: #357AE8;
        }


        #submit:hover{
            background-color: #357AE8 ;
        }


